node_modules

/public/speechToTextModels/vosk-model-ar-mgb2-0.4.zip
/public/speechToTextModels/vosk-model-en-us-0.22-lgraph.zip
/public/speechToTextModels/vosk-model-small-ar-tn-0.1-linto.zip
/public/speechToTextModels/vosk-model-small-gu-0.42.zip
/public/speechToTextModels/vosk-model-small-sv-rhasspy-0.15.zip