/speechToTextModels/vosk-model-ar-mgb2-0.4.zip
/speechToTextModels/vosk-model-en-us-0.22-lgraph.zip
/speechToTextModels/vosk-model-small-ar-tn-0.1-linto.zip
/speechToTextModels/vosk-model-small-gu-0.42.zip
/speechToTextModels/vosk-model-small-sv-rhasspy-0.15.zip

audioSamples/drums
audioSamples/misc
audioSamples/organs

audioSamples/pianos/ac1
audioSamples/pianos/ac2
audioSamples/pianos/bell
audioSamples/pianos/brokenCassette
audioSamples/pianos/claviPiano
audioSamples/pianos/curlyElectric
audioSamples/pianos/dragonMagic
audioSamples/pianos/electric1
audioSamples/pianos/electric2
audioSamples/pianos/electric3
audioSamples/pianos/electric4
audioSamples/pianos/electric5
audioSamples/pianos/softSteinway
audioSamples/pianos/studioOne1
audioSamples/pianos/studioOne2
audioSamples/pianos/studioOne3
audioSamples/pianos/studioOne4
audioSamples/pianos/studioOne5
audioSamples/pianos/studioOne6
