/speechToTextModels/vosk-model-ar-mgb2-0.4.zip
/speechToTextModels/vosk-model-en-us-0.22-lgraph.zip
/speechToTextModels/vosk-model-small-ar-tn-0.1-linto.zip
/speechToTextModels/vosk-model-small-gu-0.42.zip
/speechToTextModels/vosk-model-small-sv-rhasspy-0.15.zip

audioSamples/organs

audioSamples/misc/accordian
audioSamples/misc/acientBronzeBells
audioSamples/misc/AustrianJawHarp
audioSamples/misc/bells1
audioSamples/misc/bells2
audioSamples/misc/bellsGong
audioSamples/misc/brokenSplashGong
audioSamples/misc/choirOfTheFallen
audioSamples/misc/clavichord
audioSamples/misc/cosmos
audioSamples/misc/dischordChoir
audioSamples/misc/gong
audioSamples/misc/handBells
audioSamples/misc/harmonica
audioSamples/misc/MariePneuma
audioSamples/misc/marimba
audioSamples/misc/mechanisedChoir
audioSamples/misc/musicalStones1
audioSamples/misc/musicalStones2
audioSamples/misc/orchestra
audioSamples/misc/plasmaDriveKalimba
audioSamples/misc/quietChoir
audioSamples/misc/rainStick
audioSamples/misc/spellSinger
