node_modules

semanticSearch

.env

certs

nginx-1.27.3
nginx-1.27.3-2

60fps.mp4
disney.mp4
disney2.mp4
disney3.mp4
disney4.mp4
testVideo.mp4
thinking.mp4
leftRight.webm
rotate.webm
upDown.webm
portrait1.jpg
portrait2.jpg
portrait3.jpg
woman.jpg
cube.gif
helloWorld.docx
L1.pdf
weird.svg
test.txt
