.align_buttons {
  margin-bottom: var(--x2);
}

.align_button,
.align_button * {
  transition: var(--transition);
}

.align_button:hover,
.align_button:hover * {
  transition: none;
}

.align_button {
  float: left;
  height: var(--x13);
  width: var(--x13);
  line-height: var(--x16);
  text-align: center;
  cursor: pointer;
  position: relative;
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.align_button:hover {
  background-color: #313131;
  border-color: var(--z3);
}

.align_button svg {
  fill: #d6d6d6;
}

.align_button:hover svg {
  fill: #f2f2f2;
  transition: none;
}

.align_button:nth-child(1) {
  border-radius: var(--x1) 0 0 0;
}
.align_button:nth-child(3) {
  border-radius: 0 var(--x1) 0 0;
}
.align_button:nth-child(4) {
  border-radius: 0 0 0 var(--x1);
}
.align_button:nth-child(6) {
  border-radius: 0 0 var(--x1) 0;
}

.align_buttons .push_button {
  display: block;
  float: left;
}

.align_buttons .caret {
  border: solid transparent 5px;
  border-top-color: var(--z9);
  position: absolute;
  width: 0;
  height: 0;
  right: 20px;
  margin-top: -2px;
  top: 50%;
  z-index: 1;
  pointer-events: none;
}

#align_relative_to option {
  background: #f2f2f2;
  color: #090909;
}

#align_relative_to {
  background: #313131;
  color: #d6d6d6;
  cursor: pointer;
}

#align_relative_to:hover {
  background: #3e3e3e;
}
