#dialog_box {
  display: none;
  z-index: 10002;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#dialog_box_overlay {
  background: var(--z0);
  opacity: 0.5;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 0.75rem;
}

#dialog_content {
  height: max-content;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

#dialog_content h4 {
  margin: 0;
}

#dialog_buttons {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dialog_buttons input:first-child {
  color: #090909;
  background: #d6d6d6;
  margin-right: 0.5rem;
}

#dialog_buttons input:last-child {
  color: #090909;
  padding-inline: 30px;
}

#dialog_buttons input:last-child:hover {
  background: #e62833;
}

#dialog_container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: max-content;
  max-width: 90%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  background: #f2f2f2;
  border-radius: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#dialog_buttons input[type="text"] {
  width: 90%;
  display: block;
  margin: 0 0 5px 11px;
}

#dialog_buttons input[type="button"] {
  margin: 0 1em;
}
