#panels {
  position: absolute;
  box-sizing: border-box;
  width: var(--panel-width);
  right: var(--x1);
  top: var(--x5);
  bottom: 0;
  border-bottom: none;
  overflow: auto;
  padding: 0 0 18rem 0;
}

#canvas_title {
  z-index: 0;
  width: 100%;
}

.context_panel {
  display: none;
}

.context_panel h4 {
  color: var(--z15);
  font-weight: normal;
  margin: 0;
  padding: 10px 0 5px 0;
}

.context_panel label {
  display: block;
  color: var(--z13);
  white-space: nowrap;
}

#align_tools {
  display: none;
  width: 156px;
}

#panels.multiselected #multiselected_panel {
  display: block !important;
}

#panels.multiselected #multiselected_panel .hidable {
  display: none;
}

#tool_text_on_path {
  display: none !important;
}

#objects_panels {
  display: none;
}

#objects_panels.active {
  display: block;
}

.editing_panels {
  display: none;
}

.editing_panels.active {
  display: block;
}

#objects_panel_button.active {
  text-decoration: underline;
  text-decoration-color: #d40213;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

#editing_panel_button.active {
  text-decoration: underline;
  text-decoration-color: #d40213;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.folder-name {
  @apply flex h-8 w-full items-center justify-start !font-Josefin text-xl text-fg-red hover:bg-fg-red-light hover:text-fg-white;
}

.folder-name-text {
  @apply pt-1;
  max-width: calc(100% - 2rem);
}

.folder-name svg {
  @apply mr-2 aspect-square h-6 fill-fg-white stroke-fg-white;
  transition: all 0.1s ease;
}

.folder-name:hover svg {
  @apply mr-1 h-7;
}

.folder-name.active {
  @apply bg-fg-red-light text-fg-white;
}

.object-folder {
  @apply flex h-max w-full flex-col items-center justify-center overflow-hidden bg-fg-tone-black-5 text-fg-white;
}

.folder-content {
  @apply flex h-max w-full flex-col items-start justify-center;
  display: none;
}

.object-folder.folder-open > .folder-content {
  display: block;
}

.folder-item {
  @apply flex h-8 w-full items-center justify-start !font-K2D text-base;
}

.folder-item:not(.active) {
  @apply hover:bg-fg-red-dark;
}

.folder-item.active {
  @apply bg-fg-red-light;
}

.folder-item-text {
  @apply cursor-pointer select-none pb-0.5;
  max-width: calc(100% - 2rem);
}

.folder-item svg {
  @apply mr-2 h-5 w-5 fill-fg-white stroke-fg-white;
  transition: all 0.1s ease;
}

.folder-item:hover svg {
  @apply mr-1 h-6 w-6;
}
