#panels {
  position: absolute;
  box-sizing: border-box;
  width: var(--panel-width);
  right: var(--x1);
  top: var(--x5);
  bottom: 0;
  border-bottom: none;
  overflow: auto;
  padding: 0 0 18rem 0;
}

#canvas_title {
  z-index: 0;
  width: 100%;
}

.context_panel {
  display: none;
}

.context_panel h4 {
  color: var(--z15);
  font-weight: normal;
  margin: 0;
  padding: 10px 0 5px 0;
}

.context_panel label {
  display: block;
  color: var(--z13);
  white-space: nowrap;
}

#align_tools {
  display: none;
  width: 156px;
}

#panels.multiselected #multiselected_panel {
  display: block !important;
}

#panels.multiselected #multiselected_panel .hidable {
  display: none;
}

#tool_text_on_path {
  display: none !important;
}

#objects_panels {
  display: none;
}

#objects_panels.active {
  display: block;
}

.editing_panels {
  display: none;
}

.editing_panels.active {
  display: block;
}

#objects_panel_button.active {
  text-decoration: underline;
  text-decoration-color: #d40213;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

#editing_panel_button.active {
  text-decoration: underline;
  text-decoration-color: #d40213;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.folder-name {
  @apply w-full h-8 !font-Josefin text-xl hover:bg-fg-red-light text-fg-red hover:text-fg-white flex items-center justify-start;
}

.folder-name-text {
  @apply pt-1;
}

.folder-name svg {
  @apply h-6 aspect-square fill-fg-white stroke-fg-white mr-2;
  transition: all 0.1s ease;
}

.folder-name:hover svg {
  @apply h-7 mr-1;
}

.folder-name.active {
  @apply bg-fg-red-light text-fg-white;
}

.object-folder {
  @apply w-full h-max text-fg-white overflow-hidden flex flex-col items-center justify-center bg-fg-tone-black-5;
}

.folder-content {
  @apply flex flex-col items-start justify-center w-full h-max;
  display: none;
}

.object-folder.folder-open > .folder-content {
  display: block;
}

.folder-item {
  @apply w-full h-8 !font-K2D hover:bg-fg-red-light text-base flex items-center justify-start;
}

.folder-item.active {
  @apply bg-fg-red-light;
}

.folder-item-text {
  @apply pb-0.5;
}

.folder-item svg {
  @apply h-5 w-5 fill-fg-white stroke-fg-white mr-2;
  transition: all 0.1s ease;
}

.folder-item:hover svg {
  @apply h-6 w-6 mr-1;
}
