.select-input {
  margin: var(--x2) 0;
  position: relative;
}

.select-input select {
  -webkit-appearance: none;
  background-color: var(--z3);
  color: var(--z14);
  height: var(--x8);
  display: block;
  width: calc(100% - var(--x2));
  padding-left: 0.5rem;
  border: none;
  border-radius: var(--x1);
}

.select-input select:focus {
  outline: none;
}
