.square {
  position: absolute;
  width: 8px;
  height: 12px;
  background-color: #f3f3f3;
  transform: translate(-50%, -50%);
  border-radius: 1px;
}

.filled {
  background-color: #f56114;
}

.partially-filled {
  background-color: #f57e41;
}

.small-filled {
  background-color: #ef9668;
}
