.sound-board-btn {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 4px;
  background-color: rgb(217 217 217);
}

.sound-board-btn:after {
  content: "";
  position: absolute;
  top: -5%;
  right: 5%;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: rgb(255 255 255);
  transition: all 0.05s linear;
}

.sound-board-btn-alt-1 {
  position: absolute;
  bottom: 99%;
  left: 91%;
  width: 5%;
  height: 6%;
  transform: skewX(43deg);
  background-color: rgb(217 217 217);
  border-top-right-radius: 3px;
  transition: all 0.05s linear;
}

.sound-board-btn-alt-2 {
  position: absolute;
  bottom: 0%;
  left: -2%;
  width: 5%;
  height: 8%;
  transform: skewX(49deg);
  background-color: rgb(217 217 217);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 2px;
  transition: all 0.05s linear;
}

.sound-board-btn.pressed:after {
  top: -2.5%;
  right: 2.5%;
}

.sound-board-btn.pressed .sound-board-btn-alt-1 {
  bottom: 98%;
  left: 93%;
  height: 4%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 1px;
  transform: skewX(36deg);
}

.sound-board-btn.pressed .sound-board-btn-alt-2 {
  bottom: 1%;
  left: -1%;
  height: 4%;
  border-top-left-radius: 5px;
}
